<div class="block1" xmlns="http://www.w3.org/1999/html">
  <img src="https://www.red-carlos.com/img/Logo.png" alt="">
  <form (submit)="addUser(FN.value,LN.value,SA.value,SA2.value,C.value,SP.value,PZ.value,P.value,E.value)">

    <div class="wrapper one">

      <div>
        <H3>Full Name <strong>*</strong></H3>
        <input type="text" id="FN" class="thin" #FN>
        <label for="FN">First name</label>
      </div >
      <div>
        <input type="text" id="LN" class="thin" #LN>
        <label for="LN">Last name</label>
      </div>
    </div>
    <div class="wrapper two">
      <div class="widerer">
        <H3>Address <strong>*</strong></H3>
        <input type="text" id="SA" class="wide" #SA>
        <label for="SA">Street Address</label>
      </div>
      <div class="widerer">
        <input type="text" id="SA2" class="wide" #SA2>
        <label for="SA2">Street Address Line 2</label>
      </div>
      <div>
        <input type="text" id="C" class="thin" #C>
        <label for="C">City</label>
      </div>
      <div>
        <input type="text" id="SP" class="thin" #SP>
        <label for="SP">State/Province</label>
      </div>
      <div class="widerer">
        <input type="text" id="PZ" class="wide" #PZ>
        <label for="PZ">Postal/Zip Code</label>
      </div>
    </div>
    <div class="wrapper three">
      <div class="box">
        <H3>Phone Number <strong>*</strong></H3>
        <input type="text" id="P" class="thin" #P placeholder="(000)000-0000">
      </div>

      <div class="box">
        <H3>E-mail</H3>
        <input type="text" id="E" class="thin" #E placeholder="ex:email@yahoo.com">
        <label for="E" class="email">example@example.com</label>
      </div>

    </div>
    <hr>
    <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
  <div class="OUTER">

  </div>
</div>
